extends layout

block content
    script(type='text/javascript' src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.9/dist/sweetalert2.all.min.js")
    script(type='text/javascript' src='/javascripts/scrobble.js')

    unless message===undefined
        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.9/dist/sweetalert2.all.min.js")
        script.
            var msg = !{JSON.stringify(message)};
            Swal(msg);

    h1 #{title}: #{album.name}

    p #[strong Artist:]
        a(href=album.artisturl)  #{album.artist}
    
    .row.flex-row-reverse
        .col-md-4
            img#albumArt.img-fluid.img-thumbnail.rounded.mx-auto.d-block(src='/images/albums/' + album._id + '.png') 
        .col-md-8
            //- p #[strong Tracks:]
            - var sides = album.tracks.map(a => a.track_side)
            - sides = [...new Set(sides)]
            -
                album.tracks.map(x => {
                    x.time = Math.floor(x.track_length/60).toString() + ":" + Math.round(x.track_length % 60).toString().padStart(2, "0");
                })
            #Tracklist
                each side in sides
                    p Side: #{side}
                    each track in album.tracks
                        if track.track_side == side
                            li #{track.track_number}.  #{track.track_name}  [#{track.time}]
                        
                    hr
    .d-flex.justify-content-center#buttons
        .col.px-0
            a.btn.btn-warning.mx-1.px-1(href=album.url+'/edit' role='button') Edit album
        .col.px-0
            a.btn.btn-info.mx-1.px-1(href=album.url+'/reset') Reset to default
        .col.px-0
            button.btn.btn-success.mx-1.px-1(type='button' onclick=`pickSide(${JSON.stringify(album)})`) Scrobble!

    script(src="/javascripts/Vibrant.min.js")
    script.
        var albumArt = document.getElementById('albumArt');
        var container = document.getElementById("content");
        var vibrant = new Vibrant(albumArt);
        var swatches = vibrant.swatches();
        container.style.backgroundColor = "rgba(" + swatches.Vibrant.rgb.join(",") + ",0.5)";